.apanel {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  top: 0;
  left: 0;
  height: 100vh;
  transition: transform .2s ease;
  &::after {
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 2em rgba(0,0,0,0);
    transition: box-shadow .3s ease-in-out;
  }
  &__bar {
    background: #262a2b;
    height: 100%;
    &__logo {
      width: 5em;
      height: 5em;
      padding: .7em;
      box-sizing: border-box;
      img{
        display: block;
        width: 100%;
      }
    }
    &__item {
      position: relative;
      display: block;
      width: 5em;
      height: 5em;
      color: #808282;
      background: none;
      border: none;
      transition: all .2s ease-in-out;
      > div {
        z-index: 2;
        position: inherit;
      }
      &::before {
        content: '';
        z-index: 1;
        display: block;
        position: absolute;
        width: 2px;
        left: 0;
        top: 0;
        background: transparent;
        height: 100%;
        transition: .2s all .2s linear;
      }

      &:last-of-type {
        position: absolute;
        bottom: 0;
      }

      img {
        width: 2em;
        height:2em;
        border: 1px solid red;
        display: block;
        margin: .2em auto;
      }
      span{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 80%;
      }
      &:hover {
        background-color: #222222;
        &::before{
          background: white;
        }
      }
      &--active {
        color: #222222;
        background: transparent !important;
        &::before {
          transition-delay: 0;
          width: 100%;
          background: white;
        }
      }
    }
  }
  &__body {
    background: white;
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width .2s ease;
    > div {
      opacity: 0;
    }
    &__wrapper {
      height: 100%;
      transition: opacity .4s ease;
      overflow: hidden;
      &__section {
        height: 0;
        padding: 0 1em;
        box-sizing: border-box;
        width:30em;
        transition: all .2s ease;
        &--active {
          height: 100%;
          padding: 1em;
        }
      }
    }
    &--active {
      width: 30em;
      transition-delay: .4s;
      > div {
        opacity: 1;
      }
    }
  }
  &--active {
    &::after {
      box-shadow: 0 0 2em rgba(0,0,0,.5);
    }
  }
}
