.info {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #ffd459;
  background: #fbe8cb;
}
.label {
  width: 100%;
}
.placeholder {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #e8e8e8;
}
.issue {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #ffd459;
  background: #fbe8cb;
}
